[Unit]
Description=CPUMiner service
After=network.target

[Service]
ExecStart=/usr/bin/screen -dmS cpuminer /usr/bin/cpuminer \
  -a <%= @algorithm %> \
  -o <%= @pool %> \
  -u <%= @wallet %> \
  -p <%= @password %>
ExecStop=/usr/bin/screen -S cpuminer -X quit
ExecReload=/usr/bin/screen -S cpuminer -X quit
RestartPreventExitStatus=255
Type=forking

[Install]
WantedBy=multi-user.target